{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Signed out' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="alert alert-success spacer_30" role="alert">
            {% trans 'Successfully logged out. Now you may leave your computer. Thank you.' %}
        </div>
    </div> <!-- /container -->
{% endblock %}