{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Sign in' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="spacer_30">&nbsp;</div>
        <div class="spacer_90 hidden-sm hidden-xs">&nbsp;</div>
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                {% if user.is_authenticated %}
                    <div class="panel panel-default">
                        <div class="panel-heading">{% trans 'You are already signed in.' %}</div>
                        <div class="panel-body">
                            <p>
                                {% trans 'Will you sign out in order to switch accounts?' %}
                            </p>
                            <a class="btn btn-mg btn-danger btn-block"
                               href="{% url 'account:logout' %}">{% trans 'Logout' %}</a>
                        </div>
                    </div>
                {% else %}
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <form action="." method="post" accept-charset="UTF-8" role="form">
                                {% csrf_token %}
                                {% if form.errors %}
                                    <div class="alert alert-danger" role="alert">
                                        {% for error in form.errors.values %}
                                            {{ error|striptags }}
                                        {% endfor %}
                                    </div>
                                {% endif %}
                                <fieldset>
                                    <div class="form-group">
                                        {{ form.username }}
                                        {{ form.username.errors }}
                                    </div>
                                    <div class="form-group">
                                        {{ form.password }}
                                        {{ form.password.errors }}
                                    </div>
                                    <div class="form-group">
                                        <!-- Google reCAPTCHA -->
                                        <script src='https://www.google.com/recaptcha/api.js'></script>
                                        <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox"
                                                   value="Remember Me"> {% trans 'Remember me' %}
                                        </label>
                                        <a href="{% url 'account:password_reset' %}"
                                           class="pull-right">{% trans 'Forgot password' %}</a>
                                    </div>
                                    <input type="hidden" name="next" value="{{ next }}"/>
                                    <input class="btn btn-mg btn-success btn-block" type="submit"
                                           value="{% trans 'Sign in' %}">
                                </fieldset>
                            </form>

                            <hr/>
                            <a href="{% url 'account:register' %}"
                               class="btn btn-mg btn-default btn-block">{% trans 'Sign up' %}</a>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}