{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Change password' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="spacer_30">&nbsp;</div>
        <div class="spacer_90 hidden-sm hidden-xs">&nbsp;</div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="." method="post" class="form-horizontal">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% trans 'Please, fill the correct information in.' %}
                                </div>
                            {% endif %}

                            <div class="form-group">
                                <label for="{{ form.old_password.id_for_label }}"
                                       class="col-sm-4 control-label">{{ form.old_password.label }}</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control"
                                           id="{{ form.old_password.id_for_label }}"
                                           name="{{ form.old_password.html_name }}"
                                           placeholder="{{ form.old_password.label }}">
                                    {{ form.old_password.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.new_password1.id_for_label }}"
                                       class="col-sm-4 control-label">{{ form.new_password1.label }}</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control"
                                           id="{{ form.new_password1.id_for_label }}"
                                           name="{{ form.new_password1.html_name }}"
                                           placeholder="{{ form.new_password1.label }}">
                                    {{ form.new_password1.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.new_password2.id_for_label }}"
                                       class="col-sm-4 control-label">{{ form.new_password2.label }}</label>
                                <div class="col-sm-8">
                                    <input type="password" class="form-control"
                                           id="{{ form.new_password2.id_for_label }}"
                                           name="{{ form.new_password2.html_name }}"
                                           placeholder="{{ form.new_password2.label }}">
                                    {{ form.new_password2.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-4 col-sm-8">
                                    <button type="submit" class="btn btn-default">{% trans 'Change password' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}