{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <div class="container">
        <div class="spacer_30">&nbsp;</div>
        <div class="spacer_90 hidden-sm hidden-xs">&nbsp;</div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>{% trans "We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly." %}</p>

                        <p>{% trans "If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
