{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Sign up' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="spacer_30">&nbsp;</div>
        <div class="spacer_90 hidden-sm hidden-xs">&nbsp;</div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <form action="." method="post" class="form-horizontal">
                            {% csrf_token %}
                            {% if form.errors %}
                                <div class="alert alert-danger" role="alert">
                                    {% for error in form.errors.values %}
                                        {{ error|striptags }}
                                    {% endfor %}
                                </div>
                            {% endif %}
                            <div class="form-group">
                                <label for="{{ form.email.id_for_label }}"
                                       class="col-sm-3 control-label">{{ form.email.label }}</label>
                                <div class="col-sm-9">
                                    {{ form.email }}
                                    {{ form.email.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.last_name.id_for_label }}"
                                       class="col-sm-3 control-label">{{ form.last_name.label }}</label>
                                <div class="col-sm-9">
                                    {{ form.last_name }}
                                    {{ form.last_name.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.first_name.id_for_label }}"
                                       class="col-sm-3 control-label">{{ form.first_name.label }}</label>
                                <div class="col-sm-9">
                                    {{ form.first_name }}
                                    {{ form.first_name.errors }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.nickname.id_for_label }}"
                                       class="col-sm-3 control-label">{{ form.nickname.label }}</label>
                                <div class="col-sm-9">
                                    {{ form.nickname }}
                                    {{ form.nickname.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password1.id_for_label }}"
                                       class="col-sm-3 control-label">{{ form.password1.label }}</label>
                                <div class="col-sm-9">
                                    {{ form.password1 }}
                                    {{ form.password1.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="{{ form.password2.id_for_label }}"
                                       class="col-sm-3 control-label">{{ form.password2.label }}</label>
                                <div class="col-sm-9">
                                    {{ form.password2 }}
                                    {{ form.password2.errors|striptags }}
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            {{ form.terms }}
                                            {% trans 'I have read and agree to the Terms of service.' %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <div class="checkbox">
                                        <label>
                                            {{ form.privacy }}
                                            {% trans 'I have read and agree to the Privacy policy.' %}
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <!-- Google reCAPTCHA -->
                                    <script src='https://www.google.com/recaptcha/api.js'></script>
                                    <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-offset-3 col-sm-9">
                                    <button type="submit" class="btn btn-default">{% trans 'Sign up' %}</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- /container -->
{% endblock %}