{% extends "base.html" %}

{% load i18n %}

{% block title %}{% trans 'Sign up completed' %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="alert alert-success spacer_30" role="alert">
            <p>{% trans 'Thank you for signing up to keep in touch with our website.' %}</p>
            {% if email_account_activation %}
                <p>{% trans "We've emailed you instructions for activating your account. You should receive them shortly." %}</p>
            {% endif %}
        </div>
    </div> <!-- /container -->
{% endblock %}