body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "Helvetica Nene", Helvetica, Arial, "malgun gothic", dotum, sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

.footer {
    text-align: center;
}

.spacer_30 {
    margin-top: 30px;
}

.spacer_90 {
    margin-top: 90px;
}

/* post */
.post {
    font-size: 16px;
    line-height: 1.625;
}

.post p {
    margin-bottom: 20px;
}

.post img {
    max-width: 100%;
}

.post .toc {
    background: #fefefe;
    border: dotted 1px #ccc;
    padding: 10px;
    margin-bottom: 20px;
}

.post .toc li {
    list-style: decimal;
}

.post .codehilite {
    margin-bottom: 20px;
}

.post h1, h2, h3, h4, h5 {
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: dotted 1px #ccc;
}