/* SimpleMDE */
.simplemde-box {
    /* prevent from overlapping left label */
    position: relative;
    float: left;
    width: 620px;
}

.CodeMirror {
    font-family: "Helvetica Nene", Helvetica, Arial, "malgun gothic", dotum, sans-serif;
    font-size: 15px;
    line-height: 1.5;

    /* make it scrollable (default: auto-growing) */
    height: 400px;
}