{% load i18n %}
{% load mptt_tags %}
<ul class="nav navbar-nav">
    {% recursetree tree_menu %}
        {% if not node.is_leaf_node %}
            <li class="dropdown">
                <a href="#" class="dropdown-toggle"
                   data-toggle="dropdown"
                   role="button"
                   aria-haspopup="true"
                   aria-expanded="false">
                    {% trans node.title %} <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                    {{ children }}
                </ul>
            </li>
        {% else %}
            <li>
                <a href="{{ node.path }}" target="{{ node.target }}">{% trans node.title %}</a>
            </li>
        {% endif %}
    {% endrecursetree %}
</ul>