{% load i18n %}
{% load comments %}
{% load comments_xtd %}
{% load board_filters %}

<li id="c{{ comment.id }}" class="media">
    <a name="c{{ comment.id }}"></a>
    <div class="media-left">{{ comment.user_email|xtd_comment_gravatar }}</div>
    <div class="media-body">
        <div class="comment">
            <h6 class="media-heading">
                <a href="{{ comment.content_object.get_absolute_url }}">{{ comment.content_object|truncatechars:20 }}</a>
                &nbsp;-&nbsp;
                {% if comment.submit_date|is_today %}
                    {{ comment.submit_date|timesince }} {% trans 'ago' %}
                {% else %}
                    {{ comment.submit_date|date:"Y.m.d" }}
                {% endif %}
                &nbsp;-&nbsp;
                {% if comment.url and not comment.is_removed %}
                    <a href="{{ comment.url }}" target="_new">{% endif %}
                {{ comment.name }}
                {% if comment.url %}
                    </a>
                {% endif %}
                &nbsp;&nbsp;
                <a class="permalink" title="comment permalink" href="{% get_comment_permalink comment %}">¶</a>
            </h6>
            {% if comment.is_removed %}
                <p class="text-muted">{% trans "This comment has been removed." %}</p>
            {% else %}
                <div class="content">
                    {% include "includes/django_comments_xtd/comment_content.html" with content=comment.comment %}
                </div>
            {% endif %}
        </div>
    </div>
</li>
