{% extends "base.html" %}

{% load i18n %}
{% load cache %}
{% load comments_xtd %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- breadcrumb -->
            {% load navbar_tags %}
            {% navbar_breadcrumbs %}

            {% block entry %}{% endblock %}

            {% cache 0 blog_sidebar %}
                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Blog Search Well -->
                    <div class="well">
                        <h4>{% trans 'Blog Search' %}</h4>
                        <form action="{% url 'blog:post-list' %}" method="get" class="input-group">
                            {{ form.q }}
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                        </form>
                    </div>

                    <!-- Side Widget Well -->
                    <div class="well">
                        <h4>Side Widget Well</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci
                            accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                    </div>

                    <!-- Blog Categories Well -->
                    <div class="well">
                        <h4>{% trans 'Blog Categories' %}</h4>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul>
                                    {% load mptt_tags %}
                                    {% recursetree category_tree %}
                                        {% if not node.is_leaf_node %}
                                            <li>
                                                <a href="{% url 'blog:post-category' node.slug %}">{% trans node.title %}</a>
                                                <ul>
                                                    {{ children }}
                                                </ul>
                                            </li>
                                        {% else %}
                                            <li>
                                                <a href="{% url 'blog:post-category' node.slug %}">{% trans node.title %}</a>
                                            </li>
                                        {% endif %}
                                    {% endrecursetree %}
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="well">
                        <h4>{% trans 'Popular Tags' %}</h4>
                        <div>
                            {% load tagging_tags %}
                            {% tag_cloud_for_model blog.Post as tags with steps=6 min_count=1 distribution=log %}
                            {% for tag in tags %}
                                <a href="{% url 'blog:tagging-post-list' tag.name %}"
                                   class="label label-default">{{ tag.name }}</a>&nbsp;
                            {% endfor %}
                        </div>
                    </div>

                    <!-- Recent Posts Well -->
                    <div class="well">
                        <h4>{% trans 'Recent Posts' %}</h4>
                        {% load blog_tags %}
                        <ul>
                            {% get_recent_posts 5 as posts %}
                            {% for post in posts %}
                                <li><a href="{{ post.get_absolute_url }}">{{ post.title|truncatechars:25 }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Recent Comments Well -->
                    <div class="well">
                        <h4>{% trans 'Recent Comments' %}</h4>
                        <ul class="media-list">
                            {% render_last_xtdcomments 5 for blog.post %}
                        </ul>
                        <!-- Disqus Comments tag
                        load disqus_tags
                        disqus_recent_comments
                        -->
                    </div>

                    <!-- Meta -->
                    <div class="well">
                        <h4>{% trans 'Meta' %}</h4>
                        <ul>
                            <li><a href="{% url 'blog:post-archive' %}">{% trans 'Blog Archive' %}</a></li>
                            <li><a href="{% url 'blog:tagging-cloud' %}">{% trans 'Tag Cloud' %}</a></li>
                            <li><a href="{% url 'blog:post-feed' %}">{% trans 'RSS' %}</a></li>
                            {% if user.is_superuser %}
                                <li><a href="{% url 'admin:index' %}">{% trans 'Admin' %}</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            {% endcache %}
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}