{% extends "blog/blog_base.html" %}

{% load i18n %}

{% block title %}{% blocktrans with m=month|date:_('N, Y') %}Monthly archive {{ m }}{% endblocktrans %} : {{ site_title }}{% endblock %}

{% block entry %}
    <div class="col-md-8 post">
        <h2>{% blocktrans with m=month|date:_('N, Y') %}Monthly archive {{ m }}{% endblocktrans %}</h2>

        <ul>
            {% for daily in date_list %}
                <li style="display: inline;">
                    <a href="{% url 'blog:post-day-archive' daily|date:'Y' daily|date:'m' daily|date:'d' %}">{{ daily|date:_('j') }}</a>
                </li>
            {% endfor %}
        </ul>
        <hr/>

        <div>
            <ul>
                {% for post in posts %}
                    <li>{{ post.date_published|date:'Y-m-d' }}&nbsp;&nbsp;&nbsp;
                        <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <hr/>
        {% include 'blog/_pagination.html' with page_obj=page_obj page_range=page_range %}
    </div>
{% endblock %}
