{% extends "blog/blog_base.html" %}

{% load i18n %}
{% load blog_filters %}

{% block title %}{% trans 'Blog' %} : {{ site_title }}{% endblock %}

{% block entry %}
    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <!-- Blog Entry -->
        {% for post in posts %}
            <div class="row">
                <div class="col-md-12">
                    <h3><strong><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></strong></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <a href="{{ post.get_absolute_url }}?page={{ page_obj.number }}" class="thumbnail">
                        {% if post.thumbnail %}
                            {% load thumbnail %}
                            {% thumbnail post.thumbnail 220x153 crop="smart" as im %}
                            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                        {% else %}
                            <img src="http://placehold.it/220x153/aaaaaa/ffffff?text=No+Image" alt="thumbnail">
                        {% endif %}
                    </a>
                </div>
                <div class="col-md-8 post">
                    {{ post.description|truncatewords:30|linebreaks|safe }}
                    <p>
                        <a class="btn btn-sm btn-default" href="{{ post.get_absolute_url }}?page={{ page_obj.number }}">
                            <i class="fa fa-chevron-circle-right fa-fw" aria-hidden="true"></i>&nbsp;
                            {% trans 'Read more' %}
                        </a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                        {% if post.category.title %}
                            <i class="fa fa-folder"></i>
                            <a href="{% url 'blog:post-category' post.category.slug %}">{{ post.category.title }}</a> |
                        {% endif %}
                        <i class="fa fa-user"></i> <a href="#">{{ post.author }}</a>
                        | <i class="fa fa-calendar"></i> {{ post.date_published|date:"Y-m-d H:m" }}
                        | <i class="fa fa-comment"></i> <a href="#">3 Comments</a>
                        | <i class="fa fa-eye"></i> {{ post.view_count }}
                        | <i class="fa fa-map-marker"></i> {{ post.ip_address|mask_ip_address }}
                    </p>
                </div>
            </div>

            <!-- tags -->
            {% load blog_tags %}
            {% split_tags post.tag as tags %}
            <div class="panel-footer">
                {% for tag in tags %}
                    <a href="{% url 'blog:tagging-post-list' tag %}">
                        <span class="label label-default">{{ tag }}</span>
                    </a>
                {% empty %}
                    <span><i class="fa fa-tags fa-fw" aria-hidden="true"></i>&nbsp; {% trans 'No tag' %}</span>
                {% endfor %}
            </div>
            <hr/>
        {% endfor %}
        {% include 'blog/_pagination.html' with page_obj=page_obj page_range=page_range %}
    </div>
{% endblock %}