{% extends "blog/blog_base.html" %}

{% load i18n %}

{% block title %}{% trans 'Blog Archive' %} : {{ site_title }}{% endblock %}

{% block entry %}
    <div class="col-md-8 post">
        <h2>
            {% trans 'Blog Archive' %}
        </h2>

        <ul>
            {% for date in date_list %}
                <li style="display: inline;">
                    <a href="{% url 'blog:post-year-archive' date|date:'Y' %}">
                        {% blocktrans with year=date|date:'Y' %}Year - {{ year }}{% endblocktrans %}
                    </a>
                </li>
            {% endfor %}
        </ul>
        <hr/>

        <div>
            <ul>
                {% for post in posts %}
                    <li>{{ post.date_published|date:'Y-m-d' }}&nbsp;&nbsp;&nbsp;
                        <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <hr/>
        {% include 'blog/_pagination.html' with page_obj=page_obj page_range=page_range %}
    </div>
{% endblock %}
