{% extends 'blog/blog_base.html' %}

{% load i18n %}
{% load static %}
{% load blog_filters %}
{% load blog_tags %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{{ post.title }} : {{ site_title }}{% endblock %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/codehilite.css" %}">
{% endblock %}

{% block entry %}
    {% get_comment_count for post as comment_count %}

    <!-- Blog Entries Column -->
    <div class="col-md-8">

        <!-- Blog Entry -->
        <div class="row">
            <div class="col-md-12">
                <h3><strong><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></strong></h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>
                    {% if post.category.title %}
                        <i class="fa fa-folder"></i>
                        <a href="{% url 'blog:post-category' post.category.slug %}">{{ post.category.title }}</a> |
                    {% endif %}
                    <i class="fa fa-user"></i> <a href="#">{{ post.author }}</a>
                    | <i class="fa fa-calendar"></i> {{ post.date_published|date:"Y-m-d H:m" }}
                    | <i class="fa fa-comment"></i> <a href="#comment">{{ comment_count }} Comments</a>
                    | <i class="fa fa-eye"></i> {{ post.view_count }}
                    | <i class="fa fa-map-marker"></i> {{ post.ip_address|mask_ip_address }}
                    {% if user.is_superuser %}
                        | <i class="fa fa-edit"></i>
                        <a href="{% url 'admin:blog_post_change' post.id %}">{% trans 'Edit' %}</a>
                    {% endif %}
                </p>
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12 post">
                {% load blog_filters %}
                {{ post.content|markdownify }}
            </div>
        </div>
        <hr/>

        {% load blog_tags %}
        {% get_recent_posts 3 as posts %}

        <!-- Related Posts -->
        <div class="row">
            <div class="col-lg-12">
                <h4>{% trans 'Related Posts' %}</h4>
            </div>
        </div>
        <div class="row">
            {% for p in posts %}
                <div class="col-md-4 col-sm-6">
                    <div class="thumbnail">
                        <a href="{{ p.get_absolute_url }}?page={{ page_obj.number }}">
                            {% if p.thumbnail %}
                                {% load thumbnail %}
                                {% thumbnail p.thumbnail 220x153 crop="smart" as im %}
                                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
                            {% else %}
                                <img src="http://placehold.it/220x153/aaaaaa/ffffff?text=No+Image" alt="thumbnail">
                            {% endif %}
                        </a>
                        <div class="caption">
                            <strong>
                                <a href="{{ p.get_absolute_url }}?page={{ page_obj.number }}">{{ p.title|truncatechars:18 }}</a>
                            </strong>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- tags -->
        {% split_tags post.tag as tags %}
        <div class="panel-footer">
            {% for tag in tags %}
                <a href="{% url 'blog:tagging-post-list' tag %}">
                    <span class="label label-default">{{ tag }}</span>
                </a>
            {% empty %}
                <span>&nbsp;</span>
            {% endfor %}
        </div>
        <hr/>

        <!-- Blog Comments -->
        <!--- Disqus Comments tag
        load disqus_tags
        disqus_show_comments
        -->

        <!-- Comments Form -->
        {% if post.allow_comments %}
            <div class="well">
                <h4>{% trans 'Leave a Comment:' %}</h4>
                {% render_comment_form for post %}
            </div>
            <hr/>
        {% else %}
            <div class="alert alert-info">
                <strong>{% trans 'Comments are not allowed.' %}</strong>
            </div>
        {% endif %}

        <!-- Posted Comments -->
        {% if comment_count %}
            <ul class="media-list" id="comment">
                {% render_xtdcomment_tree for post %}
            </ul>
        {% endif %}

        <!-- Pager -->
        <ul class="pager">
            {% with post.get_previous_post as previous_post %}
                {% if previous_post %}
                    <li class="next"><a href="{{ previous_post }}">{% trans 'Older &rarr;' %}</a></li>
                {% else %}
                    <li class="next disabled"><a href="#">{% trans 'Older &rarr;' %}</a></li>
                {% endif %}
            {% endwith %}

            {% with post.get_next_post as next_post %}
                {% if next_post %}
                    <li class="previous">
                        <a href="{{ post.get_next_post }}">{% trans '&larr; Newer' %}</a>
                    </li>
                {% else %}
                    <li class="previous disabled">
                        <a href="#">{% trans '&larr; Newer' %}</a>
                    </li>
                {% endif %}
            {% endwith %}
        </ul>
    </div>
{% endblock %}