{% extends "blog/blog_base.html" %}

{% load i18n %}

{% block title %}{% trans 'Tag Cloud' %} : {{ site_title }}{% endblock %}

{% block entry %}
    <!-- Tags Column -->
    <div class="col-md-8">
        {% load tagging_tags %}
        {% tag_cloud_for_model blog.Post as tags with steps=6 min_count=1 distribution=log %}
        {% for tag in tags %}
            <a href="{% url 'blog:tagging-post-list' tag.name %}" class="btn btn-default">
                {{ tag.name }} <span class="badge">{{ tag.font_size }}</span>
            </a>
        {% endfor %}
    </div>
{% endblock %}