{% extends "blog/blog_base.html" %}

{% load i18n %}

{% block title %}{% trans 'Post List by Tag' %} - {{ tag.name }} : {{ site_title }}{% endblock %}

{% block entry %}
    <div class="col-md-8 post">
        <h2>{% trans 'Post List by Tag' %} - {{ tag.name }}</h2>

        <div>
            <ul>
                {% for post in posts %}
                    <li>{{ post.date_published|date:'Y-m-d' }}&nbsp;&nbsp;&nbsp;
                        <a href="{{ post.get_absolute_url }}"><strong>{{ post.title }}</strong></a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <hr/>
        {% include 'blog/_pagination.html' with page_obj=page_obj page_range=page_range %}
    </div>
{% endblock %}
