{% extends "base.html" %}

{% load i18n %}
{% load cache %}
{% load comments_xtd %}

{% block content %}
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <!-- breadcrumb -->
            {% load navbar_tags %}
            {% navbar_breadcrumbs %}

            {% block entry %}{% endblock %}

            {% cache 0 board_sidebar %}
                <!-- Blog Sidebar Widgets Column -->
                <div class="col-md-4">

                    <!-- Side Widget Well -->
                    <div class="well">
                        <h4>Side Widget Well</h4>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci
                            accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.</p>
                    </div>

                    <!-- Recent Posts Well -->
                    <div class="well">
                        <h4>{% trans 'Recent Posts' %}</h4>
                        {% load board_tags %}
                        <ul>
                            {% get_recent_messages 10 as messages %}
                            {% for message in messages %}
                                <li>
                                    <a href="{% url 'board:message-detail' message.board.slug message.pk %}">{{ message.title|truncatechars:25 }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <!-- Recent Comments Well -->
                    <div class="well">
                        <h4>{% trans 'Recent Comments' %}</h4>
                        <ul class="media-list">
                            {% render_last_xtdcomments 5 for board.message %}
                        </ul>
                        <!-- Disqus Comments tag
                        load disqus_tags
                        disqus_recent_comments
                        -->
                    </div>
                </div>
            {% endcache %}
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container -->
{% endblock %}