{% extends "board/board_base.html" %}

{% load i18n %}
{% load board_filters %}

{% block title %}{{ site_title }} : {{ _('My messages') }}{% endblock %}

{% block entry %}
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center col-md-1">{% trans 'No' %}</th>
                        <th class="text-center col-md-8">{% trans 'Title' %}</th>
                        <th class="text-center col-md-2">{% trans 'Author' %}</th>
                        <th class="text-center col-md-1">{% trans 'At' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in messages %}
                        <tr>
                            <td class="text-center">{{ message.id }}</td>
                            <td>
                                <a href="{% url 'board:message-detail' message.board.slug message.id %}?page={{ page_obj.number }}">
                                    {{ message.title }}
                                </a>
                            </td>
                            <td class="text-center">{{ message.author }}</td>
                            <td class="text-center">
                                {% if message.created|is_today %}
                                    {{ message.created|date:"H:m" }}
                                {% else %}
                                    {{ message.created|date:"Y.m.d" }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>
        {% include 'board/_pagination.html' with page_obj=page_obj page_range=page_range %}
    </div>
{% endblock %}