{% extends "board/board_base.html" %}

{% load i18n %}

{% block title %}{{ site_title }} : {{ board.title }}{% endblock %}

{% block entry %}
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <form class="form-horizontal" action="." method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger" role="alert">
                            {% for error in form.errors.values %}
                                {{ error|striptags }}
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% if not user.is_authenticated %}
                        <div class="form-group">
                            <label for="{{ form.nickname.id_for_label }}" class="col-sm-2 control-label">
                                {{ form.nickname.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ form.nickname }}
                                {% if form.nickname.errors %}
                                    <p class="text-danger">{{ form.nickname.errors }}</p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.password.id_for_label }}" class="col-sm-2 control-label">
                                {{ form.password.label }}
                            </label>
                            <div class="col-sm-10">
                                {{ form.password }}
                                {% if form.password.errors %}
                                    <p class="text-danger">{{ form.password.errors }}</p>
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="{{ form.title.id_for_label }}" class="col-sm-2 control-label">
                            {{ form.title.label }}
                        </label>
                        <div class="col-sm-10">
                            {{ form.title }}
                            {% if form.title.errors %}
                                <p class="text-danger">{{ form.title.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="{{ form.content.id_for_label }}" class="col-sm-2 control-label">
                            {{ form.content.label }}
                        </label>
                        <div class="col-sm-10">
                            {{ form.content }}
                            {% if form.content.errors %}
                                <p class="text-danger">{{ form.content.errors }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <div class="checkbox">
                                <label>
                                    {{ form.is_secret }}
                                    {% trans 'Secret' %}
                                </label>
                            </div>
                        </div>
                    </div>
                    {% if not user.is_authenticated %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <!-- Google reCAPTCHA -->
                                <script src='https://www.google.com/recaptcha/api.js'></script>
                                <div class="g-recaptcha" data-sitekey="{{ google_recaptcha_site_key }}"></div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-info">
                                <span class="fa fa-pencil fa-fw" aria-hidden="true"></span> {% trans 'Write' %}
                            </button>
                            <a class="btn btn-default"
                               href="{% url 'board:message-list' board.slug %}?page={{ request.GET.page }}">
                                <i class="fa fa-undo fa-fw" aria-hidden="true"></i>&nbsp;
                                {% trans 'Cancel' %}
                            </a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}