{% extends "board/board_base.html" %}

{% load i18n %}

{% block title %}{{ site_title }} : {{ board.title }}{% endblock %}

{% block entry %}
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h2>{{ message.title }}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p></p>
                <p>
                    <i class="fa fa-user"></i> <a href="#">{{ message.author }}</a>
                    | <i class="fa fa-calendar"></i> {{ message.created|date:"Y-m-d H:m" }}
                    | <i class="fa fa-comment"></i> <a href="#">3 Comments</a>
                    | <i class="fa fa-eye"></i> <a href="#">{{ message.view_count }}</a>
                    {% if user.is_superuser %}
                        | <i class="fa fa-edit"></i>
                        <a href="{% url 'board:message-edit' message.board.slug message.id %}">{% trans 'Edit' %}</a>
                    {% endif %}
                </p>
            </div>
        </div>
        <hr/>
        <div class="alert alert-danger">
            <form class="form-inline" action="." method="post">
                {% csrf_token %}
                <div class="form-group">
                    {% trans 'Are you sure to delete?' %}
                </div>
                <button class="btn btn-danger" type="submit">
                    <span class="fa fa-trash fa-fw" aria-hidden="true"></span> {% trans 'Delete' %}
                </button>
            </form>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-12 post">
                {{ message.content|linebreaks|safe }}
            </div>
        </div>
        <hr/>
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'board:message-list' board.slug %}?page={{ request.GET.page }}" class="btn btn-default">
                    <i class="fa fa-list-ul fa-fw" aria-hidden="true"></i>&nbsp;
                    {% trans 'List' %}
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'board:message-new' board.slug %}" class="btn btn-info pull-right">
                    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;
                    {% trans 'Write' %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}