{% extends "board/board_base.html" %}

{% load i18n %}
{% load board_filters %}

{% block title %}{{ site_title }} : {{ board.title }}{% endblock %}

{% block entry %}
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                    <tr>
                        <th class="text-center col-md-1">{% trans 'No' %}</th>
                        <th class="text-center col-md-8">{% trans 'Title' %}</th>
                        <th class="text-center col-md-2">{% trans 'Author' %}</th>
                        <th class="text-center col-md-1">{% trans 'At' %}</th>
                        <th style="display: none;" class="text-center">{% trans 'View Count' %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for message in messages %}
                        <tr>
                            <td class="text-center">{{ message.id }}</td>
                            <td>
                                <a href="{% url 'board:message-detail' message.board.slug message.id %}?page={{ page_obj.number }}">
                                    {{ message.title }}
                                </a>
                                {% if message.is_secret %}
                                    <i class="fa fa-lock"></i>
                                {% endif %}
                            </td>
                            <td class="text-center">{{ message.nickname }}</td>
                            <td class="text-center">
                                {% if message.created|is_today %}
                                    {{ message.created|date:"H:m" }}
                                {% else %}
                                    {{ message.created|date:"Y.m.d" }}
                                {% endif %}
                            </td>
                            <td style="display: none;" class="text-center">{{ message.view_count }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">
                                <strong>{% trans 'There is no message yet.' %}</strong>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
        <hr/>

        <!-- Buttons -->
        <div class="row">
            <div class="col-md-12">
                <a href="{% url 'board:message-new' board.slug %}" class="btn btn-info pull-right">
                    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;
                    {% trans 'Write' %}
                </a>
            </div>
        </div>

        {% include 'board/_pagination.html' with page_obj=page_obj page_range=page_range %}

        <div class="row">
            <div class="col-md-12 text-center">
                <form class="form-inline">
                    {{ form.where }}
                    <div class="form-group">{{ form.q }}</div>
                    <button type="submit" class="btn btn-default">
                        <i class="fa fa-search fa-fw" aria-hidden="true"></i>&nbsp;
                        {% trans 'Search' %}
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}