{% extends "board/board_base.html" %}

{% load i18n %}
{% load board_filters %}
{% load comments %}
{% load comments_xtd %}

{% block title %}{{ message.title }} : {{ site_title }}{% endblock %}

{% block entry %}
    {% get_comment_count for message as comment_count %}

    <div class="col-md-8">
        <div class="row">
            <div class="col-md-12">
                <h3>{{ message.title }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p></p>
                <p>
                    <i class="fa fa-user"></i> <a href="#">{{ message.nickname }}</a>
                    | <i class="fa fa-calendar"></i> {{ message.created|date:"Y-m-d H:m" }}
                    | <i class="fa fa-comment"></i> <a href="#comment">{{ comment_count }} Comments</a>
                    | <i class="fa fa-eye"></i> {{ message.view_count }}
                    | <i class="fa fa-map-marker"></i> {{ message.ip_address|mask_ip_address }}
                    {% if user.is_superuser %}
                        | <i class="fa fa-edit"></i>
                        <a href="{% url 'board:message-edit' message.board.slug message.id %}?page={{ request.GET.page }}">
                            {% trans 'Edit' %}
                        </a>
                        | <i class="fa fa-trash"></i>
                        <a href="{% url 'board:message-delete' message.board.slug message.id %}?page={{ request.GET.page }}">
                            {% trans 'Delete' %}
                        </a>
                    {% endif %}
                </p>
            </div>
        </div>
        <hr/>
        {% if hidden %}
            {% if message.author %}
                {% trans 'You may see your own message after you sign in.' %}
            {% else %}
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <form action="." method="post" accept-charset="UTF-8" role="form">
                                    {% csrf_token %}
                                    {% if form.errors %}
                                        <div class="alert alert-danger" role="alert">
                                            {% for error in form.errors.values %}
                                                {{ error|striptags }}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    <fieldset>
                                        <div class="form-group">
                                            {{ form.password }}
                                            {{ form.password.errors }}
                                        </div>
                                        <input class="btn btn-mg btn-success btn-block" type="submit"
                                               value="{% trans 'View' %}">
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
            <div class="row">
                <div class="col-md-12 post">
                    {{ message.content|linebreaks|safe }}
                </div>
            </div>
        {% endif %}
        <hr/>

        <!-- Comments Form -->
        {% if board.allow_comments %}
            <div class="well">
                <h4>{% trans 'Leave a Comment:' %}</h4>
                {% render_comment_form for message %}
            </div>
            <hr/>
        {% else %}
            <div class="alert alert-info">
                <strong>{% trans 'Comments are not allowed.' %}</strong>
            </div>
        {% endif %}

        <!-- Posted Comments -->
        {% if comment_count %}
            <ul class="media-list" id="comment">
                {% render_xtdcomment_tree for message %}
            </ul>
            <hr/>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <a href="{% url 'board:message-list' board.slug %}?page={{ request.GET.page }}" class="btn btn-default">
                    <i class="fa fa-list-ul fa-fw" aria-hidden="true"></i>&nbsp;
                    {% trans 'List' %}
                </a>
            </div>
            <div class="col-md-6">
                <a href="{% url 'board:message-new' board.slug %}" class="btn btn-info pull-right">
                    <i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp;
                    {% trans 'Write' %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}