{% load i18n %}
{% load comments %}
{% load comments_xtd %}

<ul class="media-list">
    {% for comment in comment_list %}
        <li id="comments" class="media">
            <div class="media-left">
                <a name="c{{ comment.id }}">{{ comment.user_email|xtd_comment_gravatar }}</a>
            </div>
            <div class="media-body">
                <h4 class="media-heading">
                    {% if comment.url and not comment.is_removed %}
                        <a href="{{ comment.url }}" target="_new">
                    {% endif %}
                    {{ comment.name }}
                    {% if comment.url %}
                        </a>
                    {% endif %}
                    <small>{{ comment.submit_date }}</small>
                    &nbsp;&nbsp;
                    <a class="permalink" title="comment permalink" href="{% get_comment_permalink comment %}">¶</a>
                </h4>
                {% if comment.is_removed %}
                    <p>{% trans "This comment has been removed." %}</p>
                {% else %}
                    {% include "includes/django_comments_xtd/comment_content.html" with content=comment.comment %}
                    <p>
                        {% if comment.allow_thread and not comment.is_removed %}
                            <a class="small mutedlink" href="{{ comment.get_reply_url }}">{% trans "Reply" %}</a>
                        {% endif %}
                    </p>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>