/* SimpleMDE */
.simplemde-box-admin {
    /* prevent from overlapping left label in admin page */
    position: relative;
    float: left;
    width: 800px;
}

.CodeMirror {
    /* !important because it is located at the top of admin page. */
    font-family: "Helvetica Nene", Helvetica, Arial, "malgun gothic", dotum, sans-serif !important;
    font-size: 15px !important;
    line-height: 1.5 !important;

    /* make it scrollable (default: auto-growing) */
    height: 400px !important;
}